@import 'modal'

.works
  width: 95%
  margin-left: 2.5%
  margin-right: 2.5%
  line-height: 1.5rem
  margin-bottom: 5%

.work
  display: flex
  flex-direction: column
  margin-bottom: 7vh
  // padding: 1.3rem 1rem 
  background-color: $post-background-color
  color: $post-font-color
  // border-radius: 10px
  box-shadow: $post-box-shadow

.work-image
  align-self: center
  // margin-bottom: 2rem

  img
    width: 100%
    display: block

.work-image-truncate
  max-height: 43vh
  overflow: hidden

.work-title
  // margin-bottom: 1rem
  font-size: 1.3rem
  // text-align: center
  padding: 1.3rem 6vw 

.work-text
  letter-spacing: .075rem
  color: #333
  line-height: 1.5rem
  color: inherit
  margin-bottom: 1rem
  padding: 1.3rem 6vw
  letter-spacing: 0.000001

.work-date
  // padding: 6vw
  // background-color: $post-date-background-color
  // margin-bottom: 1.7rem
  // width: 60%
  border-radius: 7px
  padding: 1.3rem 6vw
  text-align: right